.col-md-6
  ul.nav.nav-tabs
    li.active
      //comment
      a(
        data-target = '#portals'
        data-toggle = 'tab'
        ng-class = '{"active": status === "portals"}'
        ng-click = 'status = "portals";'
      ) Portals
    li
      a(
        data-target = '#links'
        data-toggle = 'tab'
        ng-class = '{"active": status === "links"}'
        ng-click = 'status = "links";'
      ) Links
    li
      a(
        data-target = '#fields'
        data-toggle = 'tab'
        ng-class = '{"active": status === "fields"}'
        ng-click = 'status = "fields";'
      ) Fields

  .col-md-10
    .tab-content
      #portals.tab-pane.active
        br
        button.btn.btn.lg.btn-success(
          ng-click = 'addPortal()'
        ) Añadir Portal
        br
        table.table
          th
            tr
              td Portal
              td Latitud
              td Longitud
              td Acciones

          tbody
            tr(
              ng-repeat = 'portal in portals'
            )
              td
                input.col-md-12(
                  ng-model = 'portal.message'
                )
              td(
                ng-bind = 'portal.lat | number:3'
              )
              td(
                ng-bind = 'portal.lng | number:3'
              )
              td
                .btn-group
                  button.btn(
                    ng-class = '{"btn-default": !portal.draggable, "btn-success": portal.draggable}'
                    ng-click = 'portal.draggable = !portal.draggable;'
                  ) *
                  button.btn.btn-danger(
                    ng-click = 'deletePortal($index)'
                  ) -
      #links.tab-pane
        br
        tags-input(
          add-from-autocomplete-only = 'true'
          ng-model = 'linkTags'
          on-tag-added = 'createLink()'
        )
          autocomplete(
            source = 'getPortals()'
          )
        button.btn.btn.lg.btn-success(
          ng-click = 'addLink()'
        ) Nuevo Link
        br
        table.table
          th
            tr
              td Portal de salida
              td Portal de entrada

          tbody
            tr(
              ng-repeat = 'link in links'
            )
              td
                input.col-md-12(
                  ng-bind = 'link.latlngs[0].message'
                )
              td(
                ng-bind = 'link.latlngs[1].message'
              )
              td
                .btn-group
                  button.btn(
                    ng-class = '{"btn-default": !portal.draggable, "btn-success": portal.draggable}'
                    ng-click = 'portal.draggable = !portal.draggable;'
                  ) *
                  button.btn.btn-danger(
                    ng-click = 'deletePortal($index)'
                  ) -
      #fields.tab-pane

.col-md-6
  leaflet.pull-right(
    center = 'center'
    defaults = 'map'
    height = '480px'
    markers = 'portals'
    paths = 'paths'
    width = '640px'
  )
