.col-md-3.lu
  ul.nav.nav-tabs
    li.active
      //comment
      a(
        data-target = '#portals'
        data-toggle = 'tab'
        ng-class = '{"active": status === "portals"}'
        ng-click = 'status = "portals";'
      ) Portals
    li
      a(
        data-target = '#links'
        data-toggle = 'tab'
        ng-class = '{"active": status === "links"}'
        ng-click = 'status = "links";'
      ) Links
    li
      a(
        data-target = '#steps'
        data-toggle = 'tab'
        ng-class = '{"active": status === "steps"}'
        ng-click = 'status = "steps";'
      ) Pasos

  .col-md-12
    .tab-content
      #portals.tab-pane.active
        br
        input(type='file', ng-file-select='onFileSelect($files)')
        br
        button.btn.btn.lg.btn-success(
          ng-click = 'addPortal()'
        ) Añadir Portal
        br
        table.table
          th
            tr
              td Portal
              td Acciones

          tbody
            tr(
              ng-repeat = 'portal in portals'
            )
              td
                input(
                  ng-model = 'portal.title'
                )
              td
                .btn-group
                  button.btn(
                    ng-class = '{"btn-default": !portal.options.draggable, "btn-success": portal.options.draggable}'
                    ng-click = 'portal.options.draggable = !portal.options.draggable;'
                  ) *
                  button.btn.btn-danger(
                    ng-click = 'deletePortal($index)'
                  ) -

      #links.tab-pane
        br
        button.btn.central(
          ng-class = '{"btn-default": !creationForm, "btn-success": creationForm}'
          ng-click = 'creationForm = !creationForm;'
        ) Link don't think
        br
        br
        label.form-control Portal de Salida
        select.form-control(
          ng-model = 'linkOut',
          ng-options = 'portal as portal.title  for portal in portals | orderBy: "title"'
        )
        label.form-control Portal Entrante
        select.form-control(
          ng-model = 'linkIn',
          ng-options = 'portal as portal.title  for portal in portals | orderBy: "title"'
        )
        button.btn.btn.lg.btn-success(
          ng-click = 'addLink()'
        ) Nuevo Link
        br
        h4 Links
        .thumbnail( ng-repeat = 'link in links')
          .caption
            p( ng-bind = ' link.nameLinkOut' )
            p( ng-bind = 'link.nameLinkIn')
            button.btn(
              ng-click = ' invert( link )'
            ) Invertir
            button.btn.btn-danger(
              ng-click = 'deleteLink($index)'
            ) Eliminar -

      #steps.tab-pane
        button.btn.btn-primary(
          ng-click = 'simulate()'
        ) Simular
        .thumbnail( ng-repeat = 'step in steps | orderBy: "order"' )
          p( class = '{{red}}-ribbon')
          p( class = '{{ step.type === "comment" && "comment-ribbon" || step.type === "link" && "link-ribbon" || "portal-ribbon"}}')
          .caption
            span Step
            input.form-control(
              ng-model = 'step.order'
              type='number')
            p( ng-bind = 'step.description')

.col-md-9.yolo
  google-map(center='map.center', zoom='map.zoom', draggable='true', options='options')
    markers(models='portals', coords='"self"', click='"onClicked"', options='"options"', events='portalsEvents')
    polyline(ng-repeat='p in links', path='p.path', stroke='p.stroke', visible='p.visible', geodesic='p.geodesic', fit='false', editable='p.editable', draggable='p.draggable', icons='p.icons')
