section(
  layout = 'horizontal'
  flex
)
  md-sidenav.md-sidenav-left.md-whiteframe-z2(
    component-id = 'left'
    is-locked-open = '$media("md")'
  )
    md-toolbar.md-theme-indigo
      h3.md-toolbar-tools.kraken-background KROP
      //-  md-button.md-button-colored(
      //-    ng-click = 'closeSidebar()'
      //-  ) X
    md-content
      md-tabs( selected = '0' )
        md-tab(
          label = 'Portales'
        )
          div(
            layout = 'vertical'
            layout-align = 'center center'
          )
            h1 Portales
        md-tab(
          label = 'Links'
        )
          div(
            layout = 'vertical'
            layout-align = 'center center'
          )
            h1 Links
        md-tab(
          label = 'Simulación'
        )
          div(
            layout = 'vertical'
            layout-align = 'center center'
          )
            h1 Simulación
  md-content.md-content( flex )
    google-map(
      center = 'map.center'
      draggable = 'true'
      options = 'options'
      zoom = 'map.zoom'
    )
      marker(
        coords = 'marker.coords'
        events = 'marker.events'
        icon = 'marker.icon'
        idkey = 'marker.id'
        options = 'marker.options'
      )
      markers(
        click = '"onClicked"'
        coords = '"self"'
        events = 'portalsEvents'
        models = 'portals'
        options = '"options"'
      )
      polyline(
        draggable = 'p.draggable'
        editable = 'p.editable'
        fit = 'false'
        geodesic = 'p.geodesic'
        icons = 'p.icons'
        ng-repeat = 'p in links'
        path = 'p.path'
        stroke = 'p.stroke'
        visible = 'p.visible'
      )
      polygon(
        draggable = 'p.draggable'
        editable = 'p.editable'
        fill = 'p.fill'
        fit = 'false'
        geodesic = 'p.geodesic'
        ng-repeat = 'p in controlFields track by p.id'
        path = 'p.path'
        static = 'true'
        stroke = 'p.stroke'
        visible = 'p.visible'
      )
