doctype html5
html( ng-app = 'krop' )
  head
    meta( charset = 'utf8' )
    base( href = '/' )
    title Angular Express Browserify
    link(
      href = '/css/app.css'
      rel = 'stylesheet'
    )
    link(
      href = '/css/app.css'
      rel = 'stylesheet'
    )
  body
    block body

    script( src='//maps.googleapis.com/maps/api/js?sensor=false')
    script( src = '/js/app.min.js' )
